/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

/* HEADER */

header {
    background-color: black;
    height: 5vh;
}

nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

nav > button {
    background-color: gray;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

/* MAIN */

main > .container {
    background-color: black;
    width: 100%;
    align-items: flex-start;
    padding: 0 20px;
    justify-content: center;
}

.my-row {
    width: 100%;
    height: 85vh;
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.my-col-1-7 {
    position: relative;
    width: calc((100% / 7) - 20px);
    margin: 10px;
}

.username {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 0;
}

/* FOOTER */

footer > .container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 10vh;
    padding: 5px;
}

footer > .container * {
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center; 
    padding: 20px;
}

.buttons button{
    background: none;
    border: none;
    font-size: 2em;
}

.buttons > div {
    margin-right: 20px;
}

.buttons .label {
    font-size: 0.8em;
}

.end {
    color: red;
    background-color: gray;
    border: none;
    height: 10vh;
    width: 200px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

#share {
    color: lawngreen;
}