/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    height: 5vh;
}
.container {
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}

nav {
    position: absolute;
    right: 10px;
    top: 10px;
}

nav > button {
    color: white;
    background-color: gray;
    border: none;
    border-radius: 10px;
    padding: 5px;
}